<div class="container">
    <div class="row" style="margin: 200px 0;">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="mb-3 row">
                    <div class="form-group col-sm-10">
                        <input type="text" class="form-control" placeholder="Usuario" name="usuario">   
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="form-group col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            {{#if error }}
            <p>Usuario o password incorrectos</p>
            {{/if}}
        </div>
    </div>
</div>  