header{
    background-color: #a8def791;
    padding: 1em 0;
}

header h1{
    color: rgb(223, 121, 37);
    font-family: 'Dosis', sans-serif;
    font-size: 4.5em;
    font-weight: 800;
    display: inline-block;
    position: relative;
    bottom: 50px;
}

header img{
    margin-bottom: 1.5em;
}